
example/bin/ofxAVUIExampleDebug.app/Contents/Frameworks/GLUT.framework/Headers

example/bin/ofxAVUIExampleDebug.app/Contents/MacOS/ofxAVUIExampleDebug

example/ofxAVUIExample.xcodeproj/project.xcworkspace/xcuserdata/nuno.xcuserdatad/UserInterfaceState.xcuserstate

example/ofxAVUIExample.xcodeproj/xcuserdata/nuno.xcuserdatad/xcschemes/xcschememanagement.plist

example/ofxAVUIExample.xcodeproj/xcuserdata/nuno.xcuserdatad/xcschemes/ofxAVUIExample.xcscheme

example/bin/ofxAVUIExampleDebug.app/Contents/MacOS/ofxAVUIExampleDebug

example/bin/ofxAVUIExampleDebug.app/Contents/MacOS/ofxAVUIExampleDebug

example/bin/ofxAVUIExampleDebug.app/Contents/MacOS/ofxAVUIExampleDebug

example/bin/ofxAVUIExampleDebug.app/Contents/MacOS/ofxAVUIExampleDebug

# snatched from https://github.com/jvcleave/ofxImGui/blob/master/.gitignore
# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

*.xcodeproj
example*/bin/data
example*/bin/libs/
example*/bin/*